.donation {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 95%;
  margin: auto;
}
.donate h4 {
  font-weight: 600;
  color: #14183e;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}
.donate {
  width: 40%;
}
.donate__link {
  text-align: right;
}
.donate__link h4 {
  color: #14183e;
  font-size: 1.5rem;
  font-weight: 600;
  padding-right: 2rem;
  padding-top: 0.5rem;
}
.donate__link:hover h4 {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .donate {
    width: 90%;
  }
}
